*,
*:before,
*:after {
  box-sizing: border-box;
}

.slide-in {
  transform: translateX(115%);
  transition: transform 2s ease-in-out;
}

.slide-in-show {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
  @media screen and (min-width: 600px) {
    transform: translateX(-40%);
  }
}

.to-top-button {
  background-color: var(--color-04);
  font-size: 2em;
  border-radius: 0.9em;
  border: solid 2px rgb(86, 82, 82);
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
}
