/* style of userAccount */
.order-list {
  margin: 1em;
  width: 15em;
  height: 8em;
  background-color: wheat;
}

/* .test {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "h4 DeleteButton"
    "p DeleteButton"
    "QuantityChangeContainer QuantityChangeContainer";
} */
