#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
/* style of homepage */

.product-photo {
  width: 15em;
  height: 12em;
  border-radius: 10px 10px 0 0;
}

.product-card {
  margin: 1em;
  width: 15em;
  height: 17em;
  border-radius: 10px;
  background-color: white;
}

/* style of homepage */
header {
  margin: auto;
  width: 100vw;
  height: 3em;
  display: flex;
}

nav {
  margin: auto;
}
.header-link {
  margin: auto;
  padding: 0.3em;
}

.active {
  background-color: red;
}

.description-photo {
  width: 15em;
}

/* style of userAccount */
.order-list {
  margin: 1em;
  width: 15em;
  height: 8em;
  background-color: wheat;
}

/* style of components */
.aktive-favorite-button {
  background-color: pink;
}
