#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.product-photo {
  width: 15em;
  height: 12em;
  border-radius: 10px 10px 0 0;
}

.product-card {
  margin: 1em;
  width: 15em;
  height: 17em;
  border-radius: 10px;
  background-color: white;
}
